
<div class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="sqaure"></div>
		<div class="sqaure1"></div>
		<div class="sqaure2"></div>
		<div class="sqaure3"></div>
		<div class="sqaure4"></div>
		<div class="sqaure5"></div>
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="mx-auto bg-card" *ngIf="status == 1">
						<div class="mb-4 text-center" style="display: flex;justify-content: center;">
						
						</div>
						<div class="card crd-new">
							<div class="card-new rst-pwd">
								<div class="inner-6 ">
								<div class="col-md-6  p-4 rounded" >
									<a class="logo-url" href="#"><img src="assets/images/logo.png" width="80" alt="" /></a>

									<div class="text-center">
										<h2 class="" style="font-size: 16px;">Reset Password</h2>

									</div>

									<div class="form-body" >
										<form name="loginForm"  [formGroup]="resetPasswordForm" novalidate
											fxLayoutAlign="center start">
											<div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80"
												fxFlex.lg="70" fxFlex.xl="70" fxLayoutAlign="start">
												<mat-form-field class="dia-input" appearance="outline">
                                                    <mat-label class="dia-label required-astrick">New password</mat-label>
                                                    <input matInput type="password" placeholder="New Password" formControlName="new_password"
                                                        (change)="addValidation()">
                                                    <mat-error
                                                        *ngIf="resetPasswordForm.controls['new_password'].hasError('required') && resetPasswordForm.controls['new_password'].touched">
                                                        New password is required.
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="resetPasswordForm.controls['new_password'].hasError('minlength') && resetPasswordForm.controls['new_password'].touched">
                                                        Password min length should be between 6-20 characters.
                                                    </mat-error>
													<mat-error
													*ngIf="resetPasswordForm.controls['new_password'].hasError('notMatching') && resetPasswordForm.confirm_password?.value!=''">
													Password should be alphanumeric
												</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="dia-input" appearance="outline">
                                                    <mat-label class="dia-label required-astrick">Confirm password</mat-label>
                                                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"
                                                        (change)="addValidation()">
                                                    <mat-error
                                                        *ngIf="resetPasswordForm.controls['confirm_password'].hasError('required') && resetPasswordForm.controls['confirm_password'].touched">
                                                        Confirm password is required.
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="resetPasswordForm.controls['confirm_password'].hasError('notMatching') && resetPasswordForm.controls['confirm_password'].touched && resetPasswordForm.confirm_password?.value!=''">
                                                        Password not matched.
                                                    </mat-error>
                                                </mat-form-field>
												
												<div class="col-5 mx-auto mb-2">
													<div class="d-grid">
														<button type="submit" (click)="resetPassword()" class="btn btn-secondary">Submit</button>
													</div>
												</div>
											</div>
										</form>
									</div>
									
								</div>
								<div class="col-md-6">
									<img src="assets/images/login-images/reset-pass-img.png" style="width: 100%;">
								</div>
							</div>
							</div>
						</div>
					</div>
					<div *ngIf="status == 0 || status == 2" class="col-md-6 mx-auto expire-msg" >
						<div class="col-md-6 set-icon" *ngIf="status == 0">
							<mat-icon>sentiment_dissatisfied</mat-icon>
							<h2><span>Sorry,</span> this reset password link is <br> no longer valid due to one of <br> the following reasons:</h2>
							<ul class="resons">
								<li>it has  already been used. </li>
								<li>it has expired or has been cancelled.</li>
							</ul>
							<button class="btn btn-secondary" *ngIf="!reqType"><a [routerLink]="['/sign-in']">Go back to login</a></button>
						</div>
						<div class="col-md-6 set-icon" *ngIf="status == 2">
							<mat-icon>emoji_emotions</mat-icon>
							<h2><span>Congratulation,</span> Your password <br>has been changed successfully</h2>
							<button class="btn btn-secondary" *ngIf="!reqType"><a [routerLink]="['/sign-in']">Go back to login</a></button>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
</div>