<div class=" pt-2 pb-2" style="align-items: baseline;">
	<div class="title-src">
		<div class="col-sm-9">
			<h4 class="page-title" style="margin-bottom: 0px !important;">User Management</h4>
		</div>
		<div class="col-sm-3">
			<div class="d-flex src">
				<mat-form-field class="full-wid search-wid own-clas set-search-box-matField" floatLabel="never">
					<div class="srch">
						<input matInput placeholder="Search" [(ngModel)]="selection.search" class="search_input"
							(change)='updateFilter()'>
						<mat-icon
							class="edit-color search-icon mat-icon notranslate ng-tns-c31-16 material-icons mat-icon-no-color"
							role="img" style="cursor: pointer;" aria-hidden="true" (click)="updateFilter()">search
						</mat-icon>
					</div>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
<div class="user-manage-list">
	<!-- {{userData.name}} -->
	<mat-card class="footer-adjust">
		<div class="table-responsive">
			<div class="table-height">
				<table mat-table class="full-wid" [dataSource]="userData">
					<ng-container matColumnDef="sNo">
						<th mat-header-cell *matHeaderCellDef>#</th>
						<td mat-cell *matCellDef="let element; let i = index">
							{{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
						</td>
					</ng-container>
					<ng-container matColumnDef="firstname">
						<th mat-header-cell *matHeaderCellDef>Firstname</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.name}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="lastname">
						<th mat-header-cell *matHeaderCellDef>Lastname</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.surname}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef>Email</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.emailAddress}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="gender">
						<th mat-header-cell *matHeaderCellDef>Gender</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.gender}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="age">
						<th mat-header-cell *matHeaderCellDef>age</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{this.calculateAge(element.dateOfBirth)}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="language">
						<th mat-header-cell *matHeaderCellDef>Language</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.preferredLanguage}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="creationDate">
						<th mat-header-cell *matHeaderCellDef>CreationDate</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.creationDate | date:'dd/MM/yyyy HH:mm'}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="updationDate">
						<th mat-header-cell *matHeaderCellDef>UpdationDate</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">{{element.lastSync | date:'dd/MM/yyyy HH:mm'}} </div>
							</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="Block/Unblock User">
						<th mat-header-cell *matHeaderCellDef>Block/Unblock User</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">
									<mat-slide-toggle [checked]="element.isBlocked" class="example-margin"
										(change)="blockUnblockUser(element.uuid ,$event)" color="primary">
									</mat-slide-toggle>
								</div>
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef>Status</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">
									<mat-slide-toggle [checked]="element.isActive" class="example-margin"
										(change)="changeStatus(element.uuid ,$event)" color="primary">
									</mat-slide-toggle>
								</div>
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef>Action</th>
						<td mat-cell *matCellDef="let element">
							<div fxLayoutAlign="start center">
								<div class="make-ellipse">
									<span class="view-btn" matTooltip="View" mat-button
										[routerLink]="['/admin/user-detail', element.uuId]" title="View Profile"
										matTooltip="View">
										<mat-icon>remove_red_eye</mat-icon>
									</span>
								</div>

								
								<div class="make-ellipse">
									<span class="view-btn" matTooltip="View" mat-button
										 title="Delete User" (click)="deleteUser(element.uuId)"
										matTooltip="Delete">
										<mat-icon>delete</mat-icon>
									</span>
								</div>
								
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="no-data-available" *ngIf="userData.length === 0">No
				Data Available
			</div>

			<div class="pagination">
				<mat-paginator #paginator [length]="noOfRecors" [pageSize]="selection.size"
					[pageSizeOptions]="[10, 25, 50]" (page)="getPaginatorData($event)">
				</mat-paginator>
			</div>

		</div>

	</mat-card>
</div>