<div class="main-content">
    <div class="container-fluid">
        <div class="cms">
            <div class="height-100">
                <div class="mat-heading">
                    <div id="top-bar" class="mb-3">
                        <h2>Cms <span class="sub-menu1">
                                > Welcome Screen</span></h2>
                    </div>
                </div>
                <div class="mat-card">
                    <div class="welcomescreen-data text-right">
                        <div class="container">
                            <div class="row mb-5 mt-4">
                                <div class="col-md-6 text-left">
                                    <h2>Welcome Screens Demo</h2>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary text-light add_databtn"
                                        data-toggle="modal" data-target="#myModal1" (click)="openPopup()">Add welcome data <i class="bx bx-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal -->
                        <div class="modal" id="myModal1" role="dialog" [ngStyle]="{'display':displayStyle}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Welcome Data</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            (click)="closePopup()">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="welcome-form">
                                            <form [formGroup]="welcomeForm">
                                                <div class="form-outline input-group mb-4">
                                                    <label class="form-label text-left" for="">Add Image</label>
                                                    <div class="custom-file text-left">
                                                        <input type="file" #inputFile id="image"
                                                            (change)="onSelectDoc($event)" id="inputGroupFile01"
                                                            aria-describedby="inputGroupFileAddon01">
                                                      
                                                        <label class="custom-file-label" for="inputGroupFile01"></label>
                                                    </div>
                                                </div>
                                                <div class="form-outline mb-4 text-left">
                                                    <label class="form-label text-left" for="">Add Title :</label>
                                                    <input type="text" formControlName="title" id="form2Example11"
                                                        class="form-control" placeholder="Add title" />
                                                </div>

                                                <div class="form-outline mb-4 text-left">
                                                    <label class="form-label" for="">Add Description :</label>
                                                    <textarea class="form-control" formControlName="descriptions"
                                                        id="exampleFormControlTextarea5" rows="3"></textarea>
                                                </div>
                                                <button
                                                    class="btn btn-primary text-right text-light bg-secondary border-secondary mb-3"
                                                    (click)="addWelcomeData()">Submit</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="screens">
                        <div class="container my-4">

                            <!--Carousel Wrapper-->
                            <!-- <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel"> -->
                            <!--Slides-->
                            <!-- <div class="carousel-inner" role="listbox"> -->

                            <!--First slide-->


                            <div class="row">
                                <div class="col">
                                    <owl-carousel-o [options]="customOptions">
                                        <ng-container *ngFor="let slide of WelcomeData" class="card">
                                            <ng-template carouselSlide><i class="bx bx-trash" (click)="deleteWelcomeData(slide.caroselId)"></i>
                                                <i class="bx bx-edit" (click)="updateopenPopup()"></i>
                                                <img [src]="slide.imgUrl" [alt]="slide.alt">
                                                <h4 class="card-title teext">{{slide.title}}</h4>
                                                <p class="card-text">{{slide.descriptions}}</p>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>
                                </div>
                            </div>

<!--Update model body-->
<div class="modal" id="myModal" role="dialog" [ngStyle]="{'display':displayStyles}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Welcome Data</h4>
                <button type="button" class="close" data-dismiss="modal"
                    (click)="updateclosePopup()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="welcome-form">
                    <form [formGroup]="welcomeForm">
                        <div class="form-outline input-group mb-4">
                            <label class="form-label text-left" for="">Update Image</label>
                            <div class="custom-file text-left">
                                <input type="file" #inputFile id="image"
                                    (change)="onSelectDoc($event)" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01">
                              
                                <label class="custom-file-label" for="inputGroupFile01"></label>
                            </div>
                        </div>
                        <div class="form-outline mb-4 text-left">
                            <label class="form-label text-left" for="">Update Title :</label>
                            <input type="text" formControlName="title" id="form2Example11"
                                class="form-control" placeholder="Add title" />
                        </div>

                        <div class="form-outline mb-4 text-left">
                            <label class="form-label" for="">Update Description :</label>
                            <textarea class="form-control" formControlName="descriptions"
                                id="exampleFormControlTextarea5" rows="3"></textarea>
                        </div>
                        <button
                            class="btn btn-primary text-right text-light bg-secondary border-secondary mb-3"
                            (click)="updateWelcomeData()">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


                            <!--/.First slide-->

                            <!--Second slide-->
                            <!-- <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/images/Mockup@2x.png" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/images/Mockup@1x.png" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="assets/images/Frame8655.png" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div> -->
                            <!--/.Second slide-->

                            <!-- </div> -->
                            <!--/.Slides-->
                            <!--Controls-->
                            <div class="controls-top">
                                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                                        class="fa fa-chevron-left"></i></a>
                                <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--/.Controls-->

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                <li data-target="#multi-item-example" data-slide-to="1"></li>
                                <li data-target="#multi-item-example" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>