<div fxLayout="row wrap" fxLayoutAlign="start">
   <div class="header accent bg-colors" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="start center">

   </div>
   <div class="btn-bck mb-4">
      <a [routerLink]="['/admin/user-management']" class="back-btn" mat-raised-button mat-button-sm>
         <mat-icon>keyboard_backspace</mat-icon>
         Back
      </a>
   </div>


   <div *ngIf="userDetail" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">


      <div class="user-content">

         <mat-card>

            <h4 class="first-cap">Personal Information</h4>
            <div class="user-info" id="u-info">

               <form *ngIf="userDetailForm" [formGroup]="this.userDetailForm" method="#" action="#"
                  (ngSubmit)="onSubmit()">

                  <div *ngIf="viewForm">
 
                     <div class="row">
                        <mat-form-field  appearance="fill">
                           <mat-label class="dia-label required-astrick">Name</mat-label>
                           <input readonly matInput formControlName="name" type="text">
                           <mat-error *ngIf="f.name.hasError('required') && f.name.touched">
                              Name is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">SurName</mat-label>
                           <input readonly matInput formControlName="surname" type="text" placeholder="Enter you name">
                           <mat-error *ngIf="f.surname.hasError('required') && f.surname.touched">
                              SurName is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row" >
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">Email</mat-label>
                           <input readonly matInput formControlName="emailAddress" type="text" placeholder="Enter you email">
                           <mat-error *ngIf="f.emailAddress.hasError('required') && f.emailAddress.touched">
                              EmailAddress is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">Gender</mat-label>
                           <input readonly matInput formControlName="gender" type="text" placeholder="Enter you gender">
                           <mat-error *ngIf="f.gender.hasError('required') && f.gender.touched">
                              Gender is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field appearance="fill">
                           <mat-label>Date</mat-label>
                           <input readonly matInput [matDatepicker]="myPicker" formControlName="dateOfBirth"
                              placeholder="dateOfBirth">
                           <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
                           <mat-datepicker #myPicker></mat-datepicker>
                           <mat-error *ngIf="f.dateOfBirth.hasError('required') && f.dateOfBirth.touched">
                              Birth Date is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">Age</mat-label>
                           <input readonly matInput formControlName="age" type="text" placeholder="Enter you age">
                           <mat-error *ngIf="f.age.hasError('required') && f.age.touched">
                              Age is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row">

                        <mat-form-field appearance="fill" >
                           <mat-label class="required-astrick">Preferred Language</mat-label>
                           <mat-select  readonly formControlName="preferredLanguage">
                              <mat-option  value="EN"> EN </mat-option>
                              <mat-option value="German">German</mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label ">Allow FirmWare Update</mat-label>
                           <input readonly matInput formControlName="allowFirmWareUpdate" type="text"
                              placeholder="Enter FirmWare Update">

                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">Street No</mat-label>
                           <input readonly matInput formControlName="streetAndHousenumber" type="text"
                           placeholder="Enter Street No" >
                           <mat-error
                              *ngIf="f.streetAndHousenumber.hasError('required') && f.streetAndHousenumber.touched">
                              Street No is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">ZipCode</mat-label>
                           <input readonly matInput formControlName="zipcode" type="text" placeholder="Enter you ageage">
                           <mat-error *ngIf="f.zipcode.hasError('required') && f.zipcode.touched">
                              ZipCode is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">City</mat-label>
                           <input readonly matInput formControlName="city" type="text" placeholder="Enter you city">
                           <mat-error *ngIf="f.city.hasError('required') && f.city.touched">
                              City is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

    

                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">Country</mat-label>
                           <input readonly matInput formControlName="country" type="text" placeholder="Enter you country">
                           <mat-error *ngIf="f.country.hasError('required') && f.country.touched">
                              Country is required.
                           </mat-error>
                        </mat-form-field>
                     </div>



                     <div class="row">
                        <mat-form-field class="dia-input" appearance="fill">
                           <mat-label class="dia-label required-astrick">telefontelefon</mat-label>
                           <input readonly matInput formControlName="telefon" type="number" placeholder="Enter you telefon">
                           <mat-error *ngIf="f.telefon.hasError('required') && f.telefon.touched">
                              Mobile no is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="form-group">
                        <button type="button" (click)="editForm()" class="btn btn-primary">
                           Edit
                        </button>
                     </div>

                  </div>

                  <div *ngIf="!viewForm">

                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Name</mat-label>
                           <input matInput formControlName="name" type="text">
                           <mat-error *ngIf="f.name.hasError('required') && f.name.touched">
                              Name is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">SurName</mat-label>
                           <input matInput formControlName="surname" type="text" placeholder="Enter you name">
                           <mat-error *ngIf="f.surname.hasError('required') && f.surname.touched">
                              SurName is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Email</mat-label>
                           <input matInput formControlName="emailAddress" type="text" placeholder="Enter you email">
                           <mat-error *ngIf="f.emailAddress.hasError('required') && f.emailAddress.touched">
                              EmailAddress is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Gender</mat-label>
                           <input matInput formControlName="gender" type="text" placeholder="Enter you gender">
                           <mat-error *ngIf="f.gender.hasError('required') && f.gender.touched">
                              Gender is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field>
                           <mat-label>Date</mat-label>
                           <input matInput [matDatepicker]="myPicker" formControlName="dateOfBirth"
                              placeholder="dateOfBirth">
                           <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
                           <mat-datepicker #myPicker></mat-datepicker>
                           <mat-error *ngIf="f.dateOfBirth.hasError('required') && f.dateOfBirth.touched">
                              Birth Date is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Age</mat-label>
                           <input matInput formControlName="age" type="text" placeholder="Enter you age">
                           <mat-error *ngIf="f.age.hasError('required') && f.age.touched">
                              Age is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

                     <div class="row">

                        <mat-form-field >
                           <mat-label class="required-astrick">Preferred Language</mat-label>
                           <mat-select  formControlName="preferredLanguage">
                              <mat-option  disabled > Select Language </mat-option>
                              <mat-option value="EN"> EN </mat-option>
                              <mat-option value="German">German</mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label ">Allow FirmWare Update</mat-label>
                           <input matInput formControlName="allowFirmWareUpdate" type="text"
                              placeholder="Enter FirmWare Update">

                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Street No</mat-label>
                           <input matInput formControlName="streetAndHousenumber" type="text"
                           placeholder="Enter Street No" >
                           <mat-error
                              *ngIf="f.streetAndHousenumber.hasError('required') && f.streetAndHousenumber.touched">
                              Street No is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">ZipCode</mat-label>
                           <input matInput formControlName="zipcode" type="text" placeholder="Enter you ageage">
                           <mat-error *ngIf="f.zipcode.hasError('required') && f.zipcode.touched">
                              ZipCode is required.
                           </mat-error>
                        </mat-form-field>
                     </div>


                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">City</mat-label>
                           <input matInput formControlName="city" type="text" placeholder="Enter you city">
                           <mat-error *ngIf="f.city.hasError('required') && f.city.touched">
                              City is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

    

                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">Country</mat-label>
                           <input matInput formControlName="country" type="text" placeholder="Enter you country">
                           <mat-error *ngIf="f.country.hasError('required') && f.country.touched">
                              Country is required.
                           </mat-error>
                        </mat-form-field>
                     </div>



                     <div class="row">
                        <mat-form-field class="dia-input">
                           <mat-label class="dia-label required-astrick">telefontelefon</mat-label>
                           <input matInput formControlName="telefon" type="number" placeholder="Enter you telefon">
                           <mat-error *ngIf="f.telefon.hasError('required') && f.telefon.touched">
                              Mobile no is required.
                           </mat-error>
                        </mat-form-field>
                     </div>

              

                     <div class="form-group">
                        <button class="btn btn-primary">
                           Update
                        </button>
                     </div>

                  </div>

               </form>


            </div>


         </mat-card>


      </div>
   </div>


</div>

<!-- <div class="card">
   <h4 class="card-header">Login</h4>
   <div class="card-body">
       <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">

       </form>
   </div>
</div> -->