.signup4-form mat-form-field {
    display      : block;
    position     : relative;
    flex         : auto;
    min-width    : 0;
    width        : 100%;
    border-radius: 6px;
    margin-top   : 20px;
    box-sizing   : border-box;
    position     : relative;
}

.top-label {
    position      : absolute;
    left          : -5px;
    top           : -19px;
    background    : #fff;
    padding       : 2px 6px;
    color         : #000;
    font-size     : 13px;
    letter-spacing: 1.53px;
    z-index       : 9;
}

.signup4-form mat-form-field input[type="email"],
.signup4-form mat-form-field input[type="password"] {
    margin-bottom: -5px;
    width        : 100%;
}

.text-end {
    width: 100%;
}

.mat-form-field {
    width: 100% !important;
}

.bg-card {
    background-size    : 409px;
    background-position: center;
    background-repeat  : no-repeat;
}

.crd-new {
    background: rgba(255, 255, 255, .4);
    border    : 1px solid #544f4f;
}

.mat-form-field-outline {
    background: rgba(108, 117, 125, .1);
}

.sqaure {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(16deg);
    left      : -1.5%;
    top       : -12%;
    opacity   : .2;
}

.sqaure {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(16deg);
    left      : -1.5%;
    top       : -12%;
    opacity   : .1;
}

.sqaure1 {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(16deg);
    right     : 7.5%;
    top       : 12%;
    opacity   : 0.1;
}

.sqaure2 {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(16deg);
    left      : 21%;
    top       : 65%;
    opacity   : 0.1;
}

.sqaure3 {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(16deg);
    right     : -3%;
    top       : 80%;
    opacity   : 0.1;
}

.sqaure4 {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(-46deg);
    right     : 49%;
    top       : -68px;
    opacity   : 0.1;
}

.sqaure5 {
    width     : 100px;
    height    : 100px;
    position  : absolute;
    content   : '';
    background: #6c757d;
    transform : rotate(45deg);
    left      : -4%;
    top       : 81%;
    opacity   : 0.1;
}

a {
    cursor     : pointer;
    font-weight: 500;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #333 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color  : red !important;
    opacity: 0.8 !important;
}

.col-md-6.set-icon .mat-icon {
    font-size: 58px;
    color    : lightgray;
}

.col-md-6.set-icon.sucs .mat-icon {
    font-size: 58px;
    color    : #85cd85;
}


.col-md-6.set-icon {
    padding   : 15px;
    margin-top: 30px;
}

.set-icon h2 {
    color    : #537b92;
    font-size: 18px;
}

.col-md-6.set-icon h2 span {
    color: #c5b5b5;
}

ul.resons li {
    color      : #01538e;
    line-height: 30px;
}

ul.resons {
    padding: 0 0 0 15px;
}

button a {
    color: #fff;
}

.rst-pwd {
    background: linear-gradient(45deg, #ccc, #fff);
}

.inner-6 {
    display: flex;
}

.logo-url {
    margin : 0 auto 5px;
    display: table;

}

.expire-msg {
    background-image : url('./../../assets/images/login-images/reset-password-img.png');
    height: 400px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    background-size: cover;
    box-shadow: 2px 2px 6px #ccc;
}

.succ-msg {
    background-image: url('./../../assets/images/login-images/vvv.png');
    height: 400px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    background-size: 460px;
    box-shadow: 2px 2px 6px #ccc;
    background-position: right;
}