<div class=" pt-2 pb-2" style="align-items: baseline;">
	<div class="title-src">
	<div class="col-sm-9">
		<h4 class="page-title" style="margin-bottom: 0px !important;">Message</h4>
	</div>
	<div class="col-sm-3">
		<div class="d-flex src">
			<mat-form-field class="full-wid search-wid own-clas set-search-box-matField" floatLabel="never">
				<div class="srch">
				<input matInput placeholder="Search" [(ngModel)]="selection.search" class="search_input"
					(change)='updateFilter()'>
				<mat-icon
					class="edit-color search-icon mat-icon notranslate ng-tns-c31-16 material-icons mat-icon-no-color"
					role="img" style="cursor: pointer;" aria-hidden="true" (click)="updateFilter()">search
				</mat-icon>
			</div>
			</mat-form-field>
		</div>
	</div>
</div>
</div>
<div class="user-manage-list">
	
	<mat-card class="footer-adjust">
		<div class="table-responsive">
			<div class="table-height">
			<table mat-table class="full-wid" [dataSource]="userData">
				<ng-container matColumnDef="sNo">
					<th mat-header-cell *matHeaderCellDef>#</th>
					<td mat-cell *matCellDef="let element; let i = index">
						{{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
					</td>
				</ng-container>
				<ng-container matColumnDef="key">
					<th mat-header-cell *matHeaderCellDef>key</th>
					<td mat-cell *matCellDef="let element">
						<div fxLayoutAlign="start center">
							<div class="make-ellipse">{{element.messageKey}} </div>
						</div>
					</td>
				</ng-container>
				<ng-container matColumnDef="message">
					<th mat-header-cell *matHeaderCellDef>Message</th>
					<td mat-cell *matCellDef="let element">
						<div fxLayoutAlign="start center">
							<div class="make-ellipse">{{element.messageValue}} </div>
						</div>
					</td>
				</ng-container>
		
				<!-- <ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>Status</th>
					<td mat-cell *matCellDef="let element">
						<div fxLayoutAlign="start center">
							<div class="make-ellipse">
								<mat-slide-toggle [checked]="element.isActive" class="example-margin"
										(change)="changeStatus(element.uuid ,$event)" color="primary">
									</mat-slide-toggle>
							</div>
						</div>
					</td>
				</ng-container> -->
				<ng-container matColumnDef="action" >
					<th mat-header-cell *matHeaderCellDef>Action</th>
					<td mat-cell *matCellDef="let element" >
						<div fxLayoutAlign="start center">
								<div class="make-ellipse">
									<span class="view-btn"  matTooltip="View" mat-button (click)="viewProfile(element.uuid)" title="View Profile" matTooltip="View">
									<mat-icon (click)="openPopup(element.id,element.messageValue)">remove_red_eye</mat-icon>
								</span>
								</div>
					    </div>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		   </div>
			<div fxLayout="row" fxLayoutAlign="center center" class="no-data-available"
               *ngIf="userData.length === 0">No Data Available
            </div>
			<div class="pagination">
				<mat-paginator #paginator [length]="noOfRecors" [pageSize]="selection.size"
					[pageSizeOptions]="[10, 25, 50]" (page)="getPaginatorData($event)"></mat-paginator>
			</div>
		</div>
		<div class="modal" id="myModal1" role="dialog" [ngStyle]="{'display':displayStyle}">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Add Message</h4>
						<button type="button" class="close" data-dismiss="modal"
							(click)="closePopup()">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="welcome-form">
							<form action="" autocomplete="off">
								<div class="form-outline mb-4 text-left">
									<label class="form-label text-left" for="">Message:</label>
									<input type="text" id="form2Example11" formControlName="messageValue"
										class="form-control" placeholder="message" value={{messageValue}} />
								</div>
								<button  (click)="updateMessageData()"
									class="btn btn-primary text-right text-light bg-secondary border-secondary mb-3"
									>Submit</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</mat-card>
</div>