<div class="bg-login">
    <div class="wrapper">
        <div class="sqaure"></div>
        <div class="sqaure1"></div>
        <div class="sqaure2"></div>
        <div class="sqaure3"></div>
        <div class="sqaure4"></div>
        <div class="sqaure5"></div>
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="mx-auto bg-card">
                        <div class="card crd-new">
                            <div class="card-new rst-pwd">
                                <div class="inner-6 ">
                                    <div class="col-md-6  p-4 rounded">
                                        <a class="logo-url" href="#"><img src="assets/images/logo.png" width="80"
                                                alt="" /></a>
                                        <div class="text-center">
                                            <h2 class="" style="font-size: 16px;">Forgot Password</h2>
                                            <p>Please Enter your email address below</p>
                                        </div>
                                        <div class="form-body">
                                            <form  [formGroup]="forgotPasswordForm" novalidate
                                                fxLayoutAlign="center start">
                                                <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80"
                                                    fxFlex.lg="70" fxFlex.xl="70" fxLayoutAlign="start">
                                                    <mat-form-field class="dia-input" appearance="outline">
                                                        <mat-label class="dia-label required-astrick">Email</mat-label>
                                                        <input matInput type="text" placeholder="Email"
                                                            formControlName="email">
                                                        <mat-error *ngIf="forgotPasswordForm.invalid">
                                                        Email is required.
                                                    </mat-error>
                                                    </mat-form-field>
                                                    <div class="col-5 mx-auto mb-2">
                                                        <div class="d-grid">
                                                            <button type="submit" (click)="forgot()"
                                                                class="btn btn-secondary">Submit</button>
                                                                <a class="bck" [routerLink]="['/sign-in']">Back to Login</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="position: relative;">
                                        <img src="assets/images/login-images/forgot.png" style="width: 100%;
                                position: absolute;
                                bottom: 14%;
                                padding: 0px 20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>