.dia-input{
    width: 100%;
}

button.btn-cancel.mat-button.mat-button-base {
    font-weight: 800;
    text-align: center;
    width: auto;
    margin: 0 10px 0px 0;
    padding: 0px 10px;
    color: #2a72a1;
    background-color: #efdbdd !important;
    border: 1px solid #75b9e6 !important;
}
button.btn-save.mat-button.mat-button-base {
    font-weight: 800;
    text-align: center;
    width: auto;
    margin: 0 10px 0px 0;
    padding: 0px 10px;
    color: #2a72a1;
    background-color: #efdbdd !important;
    border: 1px solid #75b9e6 !important;
}
button.btn-save.mat-button.mat-button-base:focus {
    outline: none;
    border: 1px solid #75b9e6 !important;
}
.cross-dia {
    position: absolute;
    margin-top: -33px;
    margin-left: -32px;
    background: #333;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    font-size: 19px;
}
.btn-align{
    float: none;
    margin: 0 auto;
    display: table;
    min-height: auto !important;
}
button.mat-focus-indicator.btn.btn-secondary.sbt-btn.mat-button.mat-button-base {
    background: #6c757d ;
    color: #fff !important;
}
.btn-align:hover .sbt-btn {
    background: #333 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #333!important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}