<!-- <div class="mrgn-all-md" fxLayoutAlign="space-between center"> -->
    <i class="material-icons close-icon cr-cross cross-dia" (click)="closePopup()" style="cursor: pointer;">
        close
        </i>
        <div mat-dialog-content>
          <div class="text-center">
            <h2 class="">Change Password</h2>
        </div>
          <form [formGroup]="changePasswordForm">
          <mat-form-field class="dia-input" appearance="outline"> 
            <mat-label class="dia-label required-astrick">Enter old password</mat-label>
              <input matInput type="password" placeholder="Old Password" formControlName="old_password">
              <mat-error *ngIf="changePasswordForm.controls['old_password'].hasError('required') && changePasswordForm.controls['old_password'].touched">
                Old password is required.
             </mat-error>
            </mat-form-field>
            <mat-form-field class="dia-input" appearance="outline">
              <mat-label class="dia-label required-astrick">Enter new password</mat-label>
                <input matInput type="password" placeholder="New Password" formControlName="new_password" (change)="addValidation()">
                <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('required') && changePasswordForm.controls['new_password'].touched">
                  New password is required.
               </mat-error> 
               <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('minlength') && changePasswordForm.controls['new_password'].touched">
                Password min length should be between 6-20 characters.
             </mat-error>
             <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('notMatching') && changePasswordForm.confirm_password?.value!=''">
								Password should be alphanumeric
							</mat-error> 
              </mat-form-field>
              <mat-form-field class="dia-input" appearance="outline">
                <mat-label class="dia-label required-astrick">Confirm password</mat-label>
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password" (change)="addValidation()">
                  <mat-error *ngIf="changePasswordForm.controls['confirm_password'].hasError('required') && changePasswordForm.controls['confirm_password'].touched">
                    Confirm password is required.
                 </mat-error>
                 <mat-error  *ngIf="changePasswordForm.controls['confirm_password'].hasError('notMatching') && changePasswordForm.controls['confirm_password'].touched && changePasswordForm.confirm_password?.value!=''"
                >
                 Password not matched.
              </mat-error>
                </mat-form-field>
                </form>
          </div>
      
        <div mat-dialog-actions class="btn-align">
          <button class="btn btn-secondary sbt-btn" mat-button (click)="changePassword()">Submit</button>
        </div>
     
     